/* *,
*::after,
*::before {
  box-sizing: border-box;
} */
h1, h2, h3, h4, h5, h6, p, button{
  font-family: 'Kreon', sans-serif;
  color: var(--text-color);
}

:root {
  font-size: 17px;
  --border-color:#8D8D8D;
  --background-color: #fffdf5;
  --nav-border: #b8938b;
  --text-color: #7f4b23;
  --button-color: #b8938b;
  --warning-color: #C91432;

  body[data-theme="dark"]{
    --text-color: #DEE9FF;
    --background-color:#232830;
    --border-color:white;
    --nav-border: white;
    --button-color:#8D8D8D;
    --warning-color: rgb(246, 99, 99);
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 0px 0px;
}
.top {
  display: flex;
  gap: 10px;
  flex-wrap:wrap;
}
.upBar{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.search {
  display: flex;
}
.search input {
  padding: 5px 5px 5px 10px;
  border: 3px solid var(--border-color);
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  width: 15rem;
  height: 35px;
  box-sizing: border-box;
}

.search button {
  padding: 5px;
  background-color: #8D8D8D;
  border: 3px solid #8D8D8D;
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
  font-size: large;
  color: #fff;
  height: 35px;
  width: 40px;
}

.search button:hover {
  color: #000;
  cursor: pointer;
}
select {
  padding: 7px 0px 7px 5px;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  border: 2px solid var(--border-color);
}

.bottom {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar {
  width: 12rem;
  height: 100vh;
  position: fixed;
  background-color:  var(--background-color);
  border-right: 1px solid var(--nav-border);
}

.nav-list {
  list-style: none;
  padding: 0 1.2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-link:hover {
  color: #b6845c;
}

.nav-link:active {
  color: #e2ad83;
}

.nav-link {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
  height: 4rem;
  color:  var(--text-color) ;
}
.deleteBtn{
  background-color: #C91432;;
  color: white;
  font-family: 'inter', sans-serif;
}
.deleteBtn:hover{
  background-color: rgb(246, 99, 99);
}
.deleteBtn:active{
  background-color: rgb(154, 73, 73);
}

.checkBtn:hover{
  background-color: rgb(149, 92, 92);
}
.checkBtn:active{
  background-color: rgb(100, 80, 80);
}

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: var(--background-color);
  width: 600px;
  max-width: 95%;
  height: 700px;
  overflow-y: scroll;
}
#deleteModal{
  width: 600px;
  height: 400px;
  overflow: hidden;
}
#deleteModal .modal-header2{
  padding: 5px 15px;
  justify-content: flex-end;
  display: flex;
}
#deleteModal .modal-header2 button{
  font-size: 3rem;
  font-weight: 200;
  border: none;
  background-color: transparent;
}
#deleteModal .modal-body2{
  font-size: 20px;
  display: flex;
  padding: 50px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
  #deactivateModal .modal-body{
    font-size: 20px;
    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  #deactivateModal .modal-body div{
    display: flex;
    gap: 1rem;
  }
  .modal-body2 div:nth-child(1) div:nth-child(2){
    color: var(--warning-color);
  }
  .modal-body2 div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
  }
  #deleteModal .modal-body2 div:nth-child(2){
    display: flex;
    gap: 1rem;
  }
  #deleteModal .modal-body2 div button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 8rem;
    border-radius: 15px;
    border: none;
  }
  .delete{
    background-color: #C91432;;
    color: white;
  }
  .delete:hover{
    background-color: rgb(246, 99, 99);
  }
  .delete:active{
    background-color: rgb(154, 73, 73);
  }
  .cancelBtn{
    background-color: #6f6f6f;
    color: white;
  }
  .cancelBtn:hover{
    background-color: rgb(146, 146, 146);
  }
  .cancelBtn:active{
    background-color: rgb(46, 46, 46);
  }
  
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}



#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


*::-webkit-scrollbar-track {
    background-color: rgba(217, 217, 217, 0.505);
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(217, 217, 217, 0.505);
    border-radius: 30px;
}

*::-webkit-scrollbar-thumb {
    background-color:var(--nav-border) ;
    border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    width: 4rem;
  }

  .nav-link p {
    display: none;
  }
}

@media only screen and (max-width: 970px) {
  .search-bar {
    margin: 0.5rem 0.5rem;
  }
  .search input {
    width: 10rem;
  }
  .card {
    margin: 0.5rem 0.5rem;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4rem;
    border-top: 2px solid var(--nav-border);
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-link p {
    display: none;
  }

  .modal{
    height: 500px;
  }
}
.bigText{
  display: flex;

}
.bigText h2{
  font-size: 2rem;
  margin: 0;
}
.admin{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 30px 20px 30px;
    width: 45rem;
    max-width: 80%;
    background-color: var(--background-color);
    border: 1px solid var(--nav-border);
    border-radius: 15px;
}
.wrapper2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 2rem 0rem;
  gap: 3rem;
  margin-bottom: 3rem;
}
.info{
  display: flex;
  gap: 1rem ;
  align-items: center;
  flex-wrap: wrap;
  width:70%;
}
.admin img{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.checkBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 8rem;
  border-radius: 15px;
  border: none;
  background-color: var(--button-color);
  color: white;
  font-family: 'inter', sans-serif;
}
.btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.btn a{
  text-decoration: none;
  color: white;
}
.deleteBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 8rem;
  border-radius: 15px;
  border: none;
  background-color:#ff4545;
  color: white;
}
.inside{  
  display: flex;
  gap: 1rem;

}


@media only screen and (max-width: 970px) {
  .search-bar {
    margin: 0.5rem 0.5rem;
  }
  .search input {
    width: 10rem;
  }
  .card {
    margin: 0.5rem 0.5rem;
  }
}

  @media only screen and (max-width: 1300px) {
    .navbar {
      width: 4rem;
    }
  
    .nav-link p {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 4rem;
      border-top: 2px solid var(--nav-border);
    }
  
    .nav-list {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    .nav-link p {
      display: none;
    }
    .top{
      justify-content: center;
    }
  }
  @media only screen and (max-width: 800px) {
    .admin{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }