<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawPals</title>
    <link rel="stylesheet" href="/stylesheet/adminAdopt.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/797e28e901.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kreon:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg" href="/images/logo.svg">
</head>
<%if (user.theme === 'light'){%>
    <body>
    <%} else{%>
    <body data-theme="dark">
    <%}%>
    <div class="main">

        <div class="wrapper">

            <form>
                <div class="search-bar">
                    <div class="top">
                        <div class="bigText">
                            <h2>Manage sell posts</h2>
                        </div>
                        <div class="hehe">
                            <div class="search">
                                <input type="text" placeholder="Search user...">
                                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                            <div class="sortby">
                                <select name="sortby" id="sortby">
                                    <option disabled selected>Type of pet</option> 
                                    <option>Dog</option>
                                    <option>Cat</option>
                                </select>
                            </div>
                        </div>
                
                    </div>                    
                </div>
                
            </form>

            <div class="cards">
                <div class="card">
                    <img src="/images/dogcol1.jpg" alt="cat1">

                    <!--em thêm cái class post-title zô dòng 59 nhe-->
                    <div class="description">
                        <div>
                            <div class="post-title">Black cat</div>

                            <div class="dropdown">
                                <button>...</button>
                                <div class="report hidden" data-modal-target="#report">Delete post</div>
                            </div>
                        </div>
                        
                        <div class="money">$100</div> 
                    </div>
                    
                    <div class="btn">
                        <a href="/admin/adoptionpost"><div class="see-more">See more</div></a>
                    </div>
                </div>

                <div class="card">
                    <img src="/images/dogcol1.jpg" alt="cat1">

                    <div class="description">
                        <div>
                            <div>Black cat</div>

                            <div class="dropdown">
                                <button>...</button>
                                <div class="report hidden" data-modal-target="#report">Delete post</div>
                            </div>
                        </div>
                        
                        <div class="money">$100</div> 
                    </div>
            
                    <div class="btn">
                        <a href="/admin/adoptionpost"><div class="see-more">See more</div></a>
                    </div>
                </div>
                

                <div class="card">
                    <img src="/images/dogcol1.jpg" alt="cat1">

                    <div class="description">
                        <div>
                            <div>Black cat</div>

                            <div class="dropdown">
                                <button>...</button>
                                <div class="report hidden" data-modal-target="#report">Delete post</div>
                            </div>
                        </div>
                        
                        <div class="money">$100</div>   
                    </div>
            
                    <div class="btn">
                        <a href="/admin/adoptionpost"><div class="see-more">See more</div></a>
                    </div>
                </div>

                <div class="card">
                    <img src="/images/dogcol1.jpg" alt="cat1">

                    <div class="description">
                        <div>
                            <div>Black cat</div>

                            <div class="dropdown">
                                <button>...</button>
                                <div class="report hidden" data-modal-target="#report">Delete post</div>
                            </div>
                        </div>
                        
                        <div class="money">$100</div> 
                    </div>
                    
                    <div class="btn">
                        <a href="/admin/adoptionpost"><div class="see-more">See more</div></a>
                    </div>
                </div>

                <div class="card">
                    <img src="/images/dogcol1.jpg" alt="cat1">

                    <div class="description">
                        <div>
                            <div>Black cat</div>

                            <div class="dropdown">
                                <button>...</button>
                                <div class="report hidden" data-modal-target="#report">Delete post</div>
                            </div>
                        </div>
                        
                        <div class="money">$100</div> 
                    </div>
            
                    <div class="btn">
                        <a href="/admin/adoptionpost"><div class="see-more">See more</div></a>
                    </div>
                </div>
                

                <div class="card">
                    <img src="/images/dogcol1.jpg" alt="cat1">

                    <div class="description">
                        <div>
                            <div>Black cat</div>

                            <div class="dropdown">
                                <button>...</button>
                                <div class="report hidden" data-modal-target="#report">Delete post</div>
                            </div>
                        </div>

                        <div class="money">$100</div>   
                    </div>
            
                    <div class="btn">
                        <a href="/admin/adoptionpost"><div class="see-more">See more</div></a>
                    </div>
                </div>

            </div>
           
                <button class="pag">Load more</button>
            
        </div>
        
        <nav class="navbar" aria-label="Main Navigation">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/admin/users" class="nav-link" aria-label="Users List">
                        <i class="fa-solid fa-people-group"></i>
                        <p class="nav-text">Users List</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/admin/post" class="nav-link" aria-label="Manage Posts">
                        <i class="fa-solid fa-file"></i>
                        <p class="nav-text">Manage Posts</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/admin/adoption" class="nav-link" aria-label="Manage Posts">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <p class="nav-text">Manage Adoption</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/admin/setting" class="nav-link" aria-label="Setting">
                        <i class="fa-solid fa-gear"></i>
                        <p class="nav-text">Setting</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="modal" id="report">
        <div class="modal-header2">
            <button data-close-button class="close-button">&times;</button>
        </div>
    
        <div class="modal-body2">
            <p>Are you sure you want to delete this post?</p>
            <div>
                <button class="reportBtn">Delete</button>
                <button class="cancelBtn">Cancel</button>
            </div>
        </div>
    </div>

    <div id="overlay"></div>
    
    <script src="/javascript/adminAdopt.js"></script>
</body>
</html>